:root {
    --color-white: #fefefe;
    --color-black: #101010;
    --color-gray: #3e3e3e;
    --color-transparentgray: #3e3e3e55;
    --color-lightgray: #6a6a6a;
    --color-bordergray: #3d3b3055;
    --color-pink: #fc45b9;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family: 'Josefin Sans', Verdana, sans-serif;
    color: var(--color-black);
    background-color: var(--color-white);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden; /* visible after landing anim. */
}

h1,
h2,
h3,
h4 {
    font-family: 'Urbanist', Tahoma, sans-serif;
    font-weight: 700;
    font-style: italic;
}

p {
    font-size: 2rem;
    font-weight: 300;
}

a {
    font-size: 2rem;
    font-weight: 700;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    margin: 2.5vh 0 0;
}

#linkNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 5%;
}

#linkNav a,
#linkNav img {
    width: 70px;
    height: 70px;
}

#scrollNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 5%;
    gap: 5vw;
}

#scrollNav a {
    display: inline-block;
    justify-content: center;
    position: relative;
    padding: 1rem;
    margin: -1rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-black);
}

@media (hover: hover) {
    #scrollNav a {
        transition: box-shadow 0.35s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
    
    #scrollNav a:hover {
        transform: translateX(-8px) translateY(8px);
        box-shadow: 1px -1px var(--color-pink), 2px -2px var(--color-pink), 3px -3px var(--color-pink), 4px -4px var(--color-pink),
            5px -5px var(--color-pink), 6px -6px var(--color-pink), 7px -7px var(--color-lightgray), 8px -8px var(--color-lightgray),
            9px -9px var(--color-lightgray), 10px -10px var(--color-lightgray), 11px -11px var(--color-lightgray), 12px -12px var(--color-lightgray);
        cursor: pointer;
    }

    .link-icon {
        --animation-time: 0.40s;
        --animation-bezier: cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition: all var(--animation-time) var(--animation-bezier);
    }

    .link-icon:hover {
        filter: invert(46%) sepia(91%) saturate(3271%) hue-rotate(297deg) brightness(101%) contrast(98%);
        transform: scale(1.75);
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -o-transform: scale(1.75);
        -ms-transform: scale(1.75);
        cursor: pointer;
    }
}

@media (hover: none) {
    #scrollNav a {
        transition: box-shadow 0.40s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    #scrollNav a:active {
        transform: translateX(-8px) translateY(8px);
        box-shadow: 1px -1px var(--color-pink), 2px -2px var(--color-pink), 3px -3px var(--color-pink), 4px -4px var(--color-pink),
            5px -5px var(--color-pink), 6px -6px var(--color-pink), 7px -7px var(--color-lightgray), 8px -8px var(--color-lightgray),
            9px -9px var(--color-lightgray), 10px -10px var(--color-lightgray), 11px -11px var(--color-lightgray), 12px -12px var(--color-lightgray);
        transition: 0.20s;
    }

    .link-icon:active {
        filter: invert(46%) sepia(91%) saturate(3271%) hue-rotate(297deg) brightness(101%) contrast(98%);
        transform: scale(1.75);
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -o-transform: scale(1.75);
        -ms-transform: scale(1.75);
        transition: 0.20s;
    }

    .link-icon {
        --animation-time: 0.40s;
        --animation-bezier: cubic-bezier(0.680, -0.550, 0.265, 1.550);
        transition: all var(--animation-time) var(--animation-bezier);
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 15vh;
    margin: 5vh 0 0;
}

section {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    min-height: 50vh;
    max-height: 100vh;
    border-left: 3px solid var(--color-bordergray);
    border-right: 3px solid var(--color-bordergray);
}

#welcomeSection {
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 80vh;
    border: none;
}

#welcomeSection p {
    /* letter-spacing: 0.2rem; */
    /* word-spacing: 0.05rem; */
    letter-spacing: 0.15rem;
    word-spacing: 0.10rem;
    padding-inline: 100px;
    margin-block-start: 2.5vh;
    margin-block-end: 0;
}

#welcomeSection h1 {
    font-size: 6rem;
    letter-spacing: 0.45rem;
    margin-block: 0;
}

#welcomeSection svg {
    filter: drop-shadow(15px 12.5px 8.5px rgb(0 0 0 / 0.45));
    /* filter: drop-shadow(15px 10px 15px rgb(0 0 0 / 0.55)); */
}

#welcomeSection path {
    stroke: var(--color-pink);
    fill: #5e5e5e05;
    stroke-width: 12.5;
    /* stroke-width: 10; */
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1550;
    stroke-dashoffset: 1550;
    animation: draw-svg 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes draw-svg {
    0% {
        stroke-dashoffset: 1550;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#educationSection {
    position: relative;
    height: 100vh; 
}

#educationBackground {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/img-ucsdbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

    /* position: absolute; */
    /* margin: auto 0; */
}

#educationInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
}

#educationInfo img {
    position: absolute;
    right: 0;
    margin: 10vh 2.5vw;
    height: auto;
    width: 40%; 
    /* height: 40% */
    /* width: 55%; */
}

#educationInfo p {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 45%;
    width: 50%;
    margin: 0 2.5vw;
    text-align: right;
    font-size: 3.5rem;
    font-weight: 700;
    color: #14284B;
}

#experienceSection {
    /* height: 100vh; */
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

#experienceTimeline {
    position: relative;
    width: 90%;
    padding: 50px 0;
    margin: 0 auto;
    /* overflow: hidden; */
}

#experienceTimeline:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 4px; 
    height: 100%;
    content: '';
    background: linear-gradient(0deg, #f2b2db, #dc2699, hsla(316, 56%, 32%, 0.432), #6f6c71) no-repeat center/4px 100%;
    /* z-index: 1; */
    /* width: 2px; */
}

.timeline-entry {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-entry-right {
    float: right;
    text-align: left;
}

.timeline-entry-left {
    float: left;
    text-align: right;
    direction: rtl;
}

.timeline-marker {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
    border-radius: 50%;
    /* background-color: transparent; */
    /* z-index: 999; */
}

.timeline-content {
    width: 100%;
    /* width: 95%; */
}

.timeline-content h3 {
    font-weight: 300;
}

.timeline-content h4 {
    font-style: normal;    
    /* font-size: 1.75rem; */
}

.timeline-content h3,
.timeline-content h4 {
    font-size: 2rem;
    margin: 5px 0;
}

.timeline-content p {
    font-size: 1.33rem;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}

#projectSection {
    width: 90vw;
    height: 100vh;
    margin: 0;
    /* margin: auto 0; */
    /* padding: 0 2.5vw; */
    overflow: hidden;
}

#projectCarousel {
    position: relative;
    width: 100%;
    height: 100%;
    /* margin: auto 0; */
}

#slideContainer {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.slide-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    height: 7em;
    width: 3rem;
    font-size: 5rem;
    background-color: var(--color-white);
    cursor: pointer;
    opacity: 0.25;
    transition: transform 0.45s ease-in-out;
    /* border: none; */
}

#slideArrowPrev {
    left: 0;
    padding-left: 0.5rem;
    /* padding-left: 0.25rem; */
    border-radius: 0 2rem 2rem 0;
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

#slideArrowNext {
    right: 0;
    padding-left: 0.5rem;
    /* padding-left: 0.75rem; */
    border-radius: 2rem 0 0 2rem;
    box-shadow: -7px 7px 0px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.30s;

}

#slideArrowPrev:hover {
    opacity: 0.5;
    transform: translateX(-10px);
}

#slideArrowNext:hover {
    opacity: 0.5;
    transform: translateX(10px);
}


#slideArrowPrev:active {
    box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateX(-10px) scale(0.975);
    transition-duration: 200ms;

}

#slideArrowNext:active {
    box-shadow: -3.5px 4.5px 0px 0px rgba(0, 0, 0, 0.3);
    transform: translateX(10px) scale(0.95);
    transition-duration: 200ms;
}

.arrow-disabled {
    background-color: #ff272a88;
}

.arrow-disabled#slideArrowNext:active {
    box-shadow: -7px 7px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-animation: disable-shake-next 0.5s cubic-bezier(0.550,  0.055,  0.675,  0.190) forwards;
    animation: disable-shake-next 0.5s cubic-bezier(0.550,  0.055,  0.675,  0.190) forwards;
    /* -webkit-animation: disable-shake-next 0.45s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
    animation: disable-shake-next 0.45s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards; */
}

.arrow-disabled#slideArrowPrev:active {
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.3);
    -webkit-animation: disable-shake-prev 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
    animation: disable-shake-prev 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
}

@-webkit-keyframes disable-shake-next {
    0%,
    100% {
        -webkit-transform: translateY(0) translateX(10px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateY(-5px) translateX(10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateY(5px) translateX(10px);
    }
}

@keyframes disable-shake-next {
    0%,
    100% {
        transform: translateY(0) translateX(10px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-5px) translateX(10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(5px) translateX(10px);
    }
}

@-webkit-keyframes disable-shake-prev {
    0%,
    100% {
        -webkit-transform: translateY(0) translateX(-10px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateY(-5px) translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateY(5px) translateX(-10px);
    }
}

@keyframes disable-shake-prev {
    0%,
    100% {
        transform: translateY(0) translateX(-10px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateY(-5px) translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateY(5px) translateX(-10px);
    }
}

/* CAROUSEL SLIDE PLACEHOLDERS */

.slide:nth-child(even) {
    background-image: url('../assets/images/placeholder-4.jpg');
}

.slide:nth-child(odd) {
    background-image: url('../assets/images/placeholder-3.jpg');
}

.slide:nth-child(2) {
    background-image: url('../assets/images/placeholder-2.jpg');
}

.slide:nth-child(1) {
    background-image: url('../assets/images/placeholder-1.jpg');
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}


#contactSection {
    height: 75vh;
    /* margin-top: 25vh; */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: #756d5422;
    width: 90%;
    height: 6vh;
    margin: 0 auto;
    padding: 20px 0;
    border: 3px solid #3d3b3055;
    border-bottom: none;
    /* width: 100%; */
}

footer a,
footer img {
    width: 40px;
    height: 40px;
}