:root {
    --color-navbar: hsl(0, 0%, 100%);
    --color-footer: hsl(0, 0%, 100%);
    --color-bg: hsl(0, 0%, 100%);
    --color-sectionA: white;
    --color-sectionB: white;
    

}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('../assets/fonts/Lora-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    top: 1vh;
    text-align: center;
    position: fixed;
    z-index: 999;
    color: #f1f1f1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #111111aa;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #f1f1f1; /* try: #FBFBFB */
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    transition: background-color 0.75s ease;
}

nav a:hover {
    background-color: #85c2ff;     /* # f4acb7  87797A*/
}

/* active navbar link */
nav a.active {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}

/* navbar animation */
nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #42aaeb;
    transition: width 0.6s ease-in;
}

nav:hover::before {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Times New Roman', Georgia, sans-serif;
    background-color: #2424243b;
    /* background: rgb(221,221,221);
    background: radial-gradient(circle, rgba(221,221,221,1) 0%, rgba(141,177,221,1) 100%, rgba(148,187,233,1) 100%); */
}

main {
    margin: 0;
    padding: 0;
    /* ! */
    display: flex;
    flex-direction: column;
    gap: 10vh; 
    justify-content: space-between;
}

section {
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    /* ! */
    /* border-radius: 0.5%; */
}

/* Sections: Welcome, Education, Contact */
section:nth-child(even) {
    background-color: #618abe81;
}

/* Sections: Experience, Projects */
section:nth-child(odd) {
    background-color: #8bafdf81;
}

h1, h2, h3 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
}

#welcome-text-fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    background-color: #2320238f;
    /* alt colors:  */
    color: #fff;
    padding: 20px;
    text-align: left;
}

.footer-icon {
    width: 25px;
    height: 25px;
    transition: transform 0.35s ease-in-out;
}

.footer-icon:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
}

/*** Media Queries ***/

/* test */
@media (max-width: 768px) {
    /* body {
        background-color: pink;
    } */

    nav {
        display: inline-block;
        text-align: center;
    }

    nav a {
        padding: 10px 8px;
    }

    nav a {
        border-bottom: 2px solid transparent;
    }

    nav a:hover {
        background-color: transparent;
        border-bottom-color: #191919;
    }
}


/* TODO */
/* Desktop */
@media screen and (min-width: 1024px) {}

/* Tablet Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* Mobile Portrait */
@media screen and (max-width: 480px) {}

/* Mobile Landscape*/
@media screen and (max-width: 640px) and (orientation: landscape) {}
