/*  Tablet (Portrait) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #landing-img {
        width: 300px;
        height: 300px;
    }

    main #welcome {
        justify-content: center;
        height: 75vh;
    }

    #welcome h1 {
        font-size: 2.5rem;
    }

    #welcome p {
        font-size: 1.5rem;
        padding-left: 50px;
        padding-right: 50px;
    }

    #scroll-nav {
        display: flex;
        /* justify-content: flex-start; */
        /* justify-content: flex-end; */
        width: 50vw;
        gap: 1rem;
        /* gap: 25px; */
        margin-left: 2rem;
    }

    #scroll-nav a {
        /* display: inline-block; */
        /* position: relative; */
        /* justify-content: center; */
        padding: 0.75rem;
        margin: -0.5rem;
        color: var(--color-black);
        background-color: transparent;
        font-weight: bolder;
        font-size: 1rem;
    }

    #link-nav {
        display: flex;
        /* justify-content: flex-end; */
        justify-content: flex-start;

        align-items: center;
        width: 50vw;
        /* gap: 50px; */
        gap: 3rem;
        margin-right: 2rem;
        /* padding-right: 3.5%; */
        /* margin-right: 3.5%; */
    }

    #link-nav a {
        width: 30px;
        height: 30px;
    }

    #link-nav img {
        height: 100%;
        width: 100%;
    }

    #link-nav img {
        vertical-align: middle;
    }

    /* footer div img {
        align-items: center;
    } */

    .link-icon:active,
    .link-icon:hover {
        transform: scale(1.75);
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -o-transform: scale(1.75);
        -ms-transform: scale(1.75);
        filter: brightness(0) saturate(100%) invert(17%) sepia(90%) saturate(6750%) hue-rotate(315deg) brightness(105%) contrast(101%);
    }

    .navbar-link:hover,
    .navbar-link:active {
        transform: translateX(-6px) translateY(6px);
        box-shadow: 1px -1px var(--color-pink), 2px -2px var(--color-pink), 3px -3px var(--color-pink), 4px -4px var(--color-lightgray),
            5px -5px var(--color-lightgray), 6px -6px var(--color-lightgray);
    }

    footer {
        gap: 10vw;
    }

    /* footer img {
        width: 100%;
        height: 100%;
    } */
}

/* Tablet Landscape (iPad Air Landscape) */
@media screen and (min-width: 1024px) and (max-width: 1180px) and (orientation: landscape) {
    /* #welcome #landing-img {
        max-width: 300px;
        max-height: 300px;
    } */

    section#welcome {
        justify-content: flex-start;
        height: 100vh;
    }

    #welcome h1 {
        font-size: 2.5rem;
    }

    #welcome p {
        font-size: 1.25rem;
    }

    #scroll-nav {
        display: flex;
        justify-content: flex-start;
        width: 50vw;
        gap: 2rem;
        margin-left: 3rem;
    }

    #scroll-nav a {
        padding: 0.75rem;
        margin: -0.5rem;
        color: var(--color-black);
        background-color: transparent;
        font-weight: bolder;
        font-size: 1rem;
    }

    #link-nav {
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
        width: 50vw;
        gap: 4rem;
        margin-right: 3rem;
        /* padding-right: 3.5%; */
        /* margin-right: 3.5%; */
    }

    #link-nav a {
        width: 35px;
        height: 35px;
    }

    #link-nav img {
        height: 100%;
        width: 100%;
    }

    #link-nav img {
        vertical-align: middle;
    }

    footer {
        gap: 15vw;
    }

    .link-icon:active,
    .link-icon:hover {
        transform: scale(1.75);
        -webkit-transform: scale(1.75);
        -moz-transform: scale(1.75);
        -o-transform: scale(1.75);
        -ms-transform: scale(1.75);
        filter: brightness(0) saturate(100%) invert(17%) sepia(90%) saturate(6750%) hue-rotate(315deg) brightness(105%) contrast(101%);
    }

    .navbar-link:hover,
    .navbar-link:active {
        transform: translateX(-6px) translateY(6px);
        box-shadow: 1px -1px var(--color-pink), 2px -2px var(--color-pink), 3px -3px var(--color-pink), 4px -4px var(--color-lightgray),
            5px -5px var(--color-lightgray), 6px -6px var(--color-lightgray);
    }
}


/* TODO: stuff below */

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {}

/* Small Devices (Mobile Phones) */
@media screen and (max-width: 480px) {
    #welcome #landing-img {
        width: 150px;
        height: 150px;
    }

    #welcome p {
        margin-block-start: 0;
        font-size: 0.75rem;
        padding-left: 15px;
        padding-right: 15px;
        /* padding: 0 15px; */
    }

    #welcome h1 {
        font-size: 1.45rem;
    }

    section#welcome {
        margin-top: 3vh;
        height: 70vh;
        justify-content: center;
    }

    #scroll-nav {
        display: flex;
        justify-content: center;
        /* justify-content: unset; */
        width: 50vw;
        gap: 0.5rem;
        font-weight: bolder;
        color: var(--color-black);
        margin-left: 1rem;
        /* padding-left: 3.5%; */
    }

    #scroll-nav a {
        /* display: inline-block;
        position: relative; */
        padding: 0.3rem;
        margin: -0.3rem;
        justify-content: center;
        background-color: transparent;
        font-size: 0.625rem;
    }

    #link-nav {
        /* justify-content: flex-end; */
        display: flex;
        align-items: center;
        width: 50%;
        gap: 0.75rem;
        margin-right: 1rem;
    }

    #link-nav a {
        align-items: center;
        vertical-align: center;
        justify-content: center;
        background-color: transparent;
        width: 22.5px;
        height: 22.5px;
    }

    /* #link-nav img {
        width: 100%;
        height: 100%;
    } */

    footer a {
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    footer img {
        align-items: center;
    }

    #link-nav img {
        vertical-align: middle;
    }

    .navbar-link {
        transition: box-shadow 0.35s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    .navbar-link:hover,
    .navbar-link:active {
        transform: translateX(-6px) translateY(6px);
        box-shadow: 1px -1px var(--color-pink), 2px -2px var(--color-pink), 3px -3px var(--color-pink), 4px -4px var(--color-gray),
            5px -5px var(--color-gray), 6px -6px var(--color-gray);
    }
}

@media screen and (max-width: 896px) and (orientation: landscape) {
    #welcome #landing-img {
        width: 150px;
        height: 150px;
    }

    #welcome h1 {
        font-size: 1.5rem;
    }

    #welcome p {
        font-size: 1rem;
    }
}