.experience-skills {
    display: flex;
    flex-direction: column;
    /* width: 15%; */
  }
  
  #experience svg {
    width: 120px;
    height: 120px;
    margin: 2em 0;
    /* align-items: center;
    justify-content: center; */
  }
  
  .skillbar-bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }
  
.skill-meter {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    /* transform: rotate(-90deg);
    transform-origin: 50% 50%; */
    
  }


  .meter-1, .meter-2, .meter-3 {
    stroke: var(--color-pink);
    stroke-dasharray: 360;
    stroke-dashoffset: 170;
    /* animation: meter-05 1.5s ease-out; */
  }

  @keyframes meter-05 {
    from {
        stroke-dashoffset: 360;
    } 
    to { 
        stroke-dashoffset: 170;
    }
  }


section#experience>div {
  margin-left: 5%;
}
  

section#experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0 50px; */
}

#experience-work {
  /* min-height: 75%;
  max-height: 90%; */
  width: 50%;
  margin-right: 5%;
  background-color: #22222222;
  background: linear-gradient(0deg, #f2b2db, #dc2699, hsla(316, 56%, 32%, 0.432), #6f6c71) no-repeat center/4px 100%;

}

.timeline-left p,
.timeline-right p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.timeline-left {
  text-align: left;
}

.timeline-right {
  text-align: right;
}

.timeline-left, .timeline-right {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0 20%;
  margin: 0;
}

.timeline-left {
  width: 25%;
}











/* section#education {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#education .edu-bg {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/img-ucsdbg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
} */

/* .edu-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 50%;
  left: 0;
} */
  /* gap: 10vw; */
  /* justify-content: center;
  align-items: left;
  align-content: left; */
/* } */


/* .edu-info img {
  position: relative;
  top: 0;
  width: 55%;
  height: auto;
} */
  /* height: auto; */
  /* justify-content: flex-start; */
  /* margin: 0 5vw;      */
  /* position: static; */
  /* margin-top: 5vh; */
  /* padding: 5vh 0; */
/* } */

/* .edu-info p {
  position: relative;
  height: 35%;
  width: 40%;
  font-family: 'Josefin Sans', 'Times New Roman', Georgia, sans-serif;
  font-size: 40px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-black);
  bottom: 0;
}

.edu-info p,
.edu-info img {
  margin: 0 2.5vw;
  margin-top: 0;
  margin-bottom: 25vh;
}


section#experience {
  display: flex;
  flex-direction: row;
  justify-content: left;
} */


  /* @keyframes progress-1 {
      from {
          stroke-dashoffset: 360;
      }
      to {
          stroke-dashoffset: 100;
      }
  }
  
  @keyframes progress-2 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 160;
    }
  }
  
  @keyframes progress-3 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 0;
  }
} */

  /* .meter-1 {
    stroke: magenta;
    stroke: aqua;
    stroke-dasharray: 360;
    stroke-dashoffset: 0;
    animation: progress-3 1.5s ease-out;
  }
  .meter-2 {
    stroke: magenta;
    stroke: aqua;
    stroke-dasharray: 360;
    stroke-dashoffset: 0;
    animation: progress-3 1.5s ease-out;
  }
  .meter-3 {
    stroke: magenta;
    stroke: aqua;
    stroke-dasharray: 360;
    stroke-dashoffset: 0;
    animation: progress-3 1.5s ease-out;
  } */