# old / outdated content
outdated/
assets/images/test-images/

# wip css/js content (unimplemented)
css/tmp/
js/tmp/

# other (Config and Tessting Files) # test-code/
test-content.html
test-styles.css
test-script.js
.prettierrc
.vscode